@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

.popup-slide-up-enter, .popup-slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
}

.popup-slide-up-enter-to, .popup-slide-up-leave {
  transform: translate3d(0, 0, 0);
}

.popup-slide-up-enter-active, .popup-slide-up-leave-active,
.fade-enter-active, .fade-leave-active
{
  transition: all .3s linear;
}